<?php

return [
    'doctrine' =>
    [
        'connection' => [
            'orm_default' => [
                'driverClass' =>'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'host'          => 'localhost',
                    'port'          => '3306',
                    'user'          => 'root',
                    'password'      => '',
                    'dbname'        => '',
                    'driverOptions' => [
                        1002 => 'SET NAMES utf8'
                    ],
                ]
            ]
        ]
    ],

    'navigation' =>
    [
        'front' =>
        [
            [
                'label'     => 'Home',
                'route'     => 'home',
            ],
            [
                'label'     => 'Humeur',
                'route'     => 'tag',
                'params'    =>
                    [
                        'tagName' => 'humeur',
                    ],
            ],
            [
                'label'     => 'Famille',
                'route'     => 'tag',
                'params'    =>
                    [
                        'tagName'   => 'famille',
                    ],
            ],
            [
                'label'     => 'Miam Miam',
                'route'     => 'tag',
                'params'    =>
                    [
                        'tagName'   => 'miam_miam',
                    ],
            ],
        ],
    ],
];